<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<title>Aprendiendo Spring Metodo BUSCAR</title>

<head th:replace="layout/layout :: head"></head>
</head>
<body>
<h2 th:text="${titulo}"></h2>

 <form th:action="@{/persona/buscar}" method="POST"> -->
	<label>INGRESE NOMBRE A BUSCAR</label>
	<!--  IMPORTANTE PONER SOLO NOMBRE  -->
	<input type="text" name="nombre" />
	 <input type="submit" value="Buscar por nombre" />
		<h5 th:text="'Nombre: ' + ${nombre}"></h5>
		
		</form>
	<table >
		<thead >
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>CIUDAD</th>
				<th>DNI</th>
				<th>EDITAR</th>
				<th>ELIMINAR</th>
			
			</tr>
		</thead>
		<tbody>
		<tr th:each="persona: ${personas}">
			<td><a th:href="@{/ver/} + ${persona.id}" th:text="${persona.id}"></a></td>
			<td th:text="${persona.nombre}"></td>
			<td th:text="${persona.ciudad}"></td>
			<td th:text="${persona.DNI}"></td>
			<td> <a th:href="@{/form/} + ${persona.id}" th:text="'Modificar'"></a></td>
			<td> <a th:href="@{/eliminar/} + ${persona.id}" th:text="'Eliminar'"></a></td>
		</tr>
		</tbody>
	</table>

		<a th:href="@{/persona/form}" th:text="'Crear'"></a>
		<br>
	<a th:href="@{/persona/listar}" th:text="'Listar'"></a>
	<br>
	<a th:href="@{/persona/index}" th:text="'Index'"></a>

</body>
</html>