<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head">

</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
	<div class="card bg-light">
	<div class="card-header bg-primary  text-white" th:text="${titulo}" ></div>
	<div class="card-body">

 <form th:action="@{/club/buscar}" method="POST"> 
 <br>
	
		
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Ingrese Nombre a Buscar</span>
  </div>
  <input type="text" size="30" name="nombre" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  <input  class="btn btn-success btn-xs" type="submit" value="Buscar" />
</div>
 <br>
</form>
	<table class="table table-striped table-bordered">
		<thead  class="thead-inverse">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Estadio</th>
				<th>Pais</th>
				<th>Fondo</th>
				<th>EDITAR </th>
				<th>ELIMINAR </th>

			</tr>
		</thead>
		<tbody>
		<tr th:each="club: ${clubes}">
		<td><a class="btn btn-primary" th:href="@{/club/ver/} + ${club.id}" th:text="${club.id}"></a></td>
			<td th:text="${club.nombre}"></td>
			<td th:text="${club.estadio}"></td>
			<td th:text="${club.pais}"></td>
			<td th:text="${club.fondo}"></td>
			<td> <a class="btn btn-secondary" th:href="@{/club/form/} + ${club.id}" th:text="'Modificar'"></a></td>
			<td> <a class="btn btn-danger"th:href="@{/club/eliminar/} + ${club.id}" th:text="'Eliminar'"></a></td>
		</tr>
		</tbody>
	</table>
</div>
</div>
</div>


<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>